@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    /* Cores da Marca Anjo Azul */
    --color-anjo-primary: #002653;
    --color-anjo-secondary: #002653;
    --color-anjo-accent: #6EC1E4;
    --color-anjo-verde: #61CE70;
    --color-anjo-verde-escuro: #23A455;
    --color-anjo-azul: #4054B2;
    --color-anjo-amarelo: #F1DE18;
}
